<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DAGK</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" href="css/w3css.css">
  <link rel="stylesheet" href="app.css">
  <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="myApp" ng-controller="userCtrl">
  <div>
    <ul class="w3-navbar w3-black w3-padding">
      <li><a href="#" ng-bind="myUser.name"></a></li>
      <li><a href="#" onclick=showEditButton()>Edit</a></li>
    </ul>
  </div>
  <div>
    <div class="w3-content" style="width:70%">
      <div class="w3-card-4 w3-margin">
        <div class="w3-row">
          <div class="w3-quarter">
            <img ng-src="{{myUser.image}}" alt="Nature" style="width:100%; height:100%">
          </div>
          <div class="w3-threequarter w3-padding-ver-16">
            <div class="w3-container w3-padding-hor-8">
              <h3><b>{{myUser.name}}</b><span class="w3-right"><button onclick="document.getElementById('id02').style.display='block'"
class="w3-btn editButton" style="display:none">Edit</button><span></h3>
              <h5><span class="w3-opacity">{{myUser.job}}</span></h5>
            </div>
            <div class="w3-container w3-small">
              <p style="margin:0px"><span class="w3-opacity">Current: </span>{{myUser.current}}</p>
              <p style="margin:0px"><span class="w3-opacity">Previous: </span>{{myUser.previous}}</p>
              <p style="margin:0px"><span class="w3-opacity">Education: </span>{{myUser.education}}</p>
            </div>
          </div>
        </div>
      </div>



      <div class="w3-container w3-row">
        <div class="w3-card-4 w3-col w3-margin-right w3-margin-bottom" style="width:70%">
          <header class="w3-container w3-green">
            <h3><b>BACKGROUND</b></h3>
          </header>
          <div class="w3-container w3-padding-hor-8">
            <h4 class="w3-margin-left" style="color:green;">Summary <button onclick="document.getElementById('id01').style.display='block'"
class="w3-btn w3-right editButton"style="display:none">Edit</button></h4>

          </div>
          <div class="w3-container w3-small w3-padding-ver-64">
            <p>
              {{sumary}}</p>
          </div>
          <hr align="right" style="width:80%">

          <!-- cai nay la tung muc -->
          <div class="w3-container">
            <h5 class="w3-margin-left">Experient</h5>
          </div>
          <div class="w3-container w3-small w3-padding-ver-32">
            <ul class="w3-ul">
              <li ng-repeat="x in experience">
                <div>
                  <div>
                    <h4><b>{{x.job}}</b></h4>
                    <p style="margin:0px"><span class="w3-opacity">{{x.place}}</span></p>
                  </div>
                  <p>
                    {{x.describe}}
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="w3-center">
            <hr style="width:80%">
          </div>

          <!-- cai nay la tung muc -->
          <div class="w3-container">
            <h5 class="w3-margin-left">Project</h5>
          </div>
          <div class="w3-container w3-small w3-padding-ver-32">
            <ul class="w3-ul">
              <li ng-repeat="x in project">
                <div>
                  <h4><b>{{x.projectname}}</b></h4>
                  <p>
                    {{x.describe}}
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <hr style="width:80%">
          <!-- cai nay la tung muc -->
          <div class="w3-container">
            <h5 class="w3-margin-left">Skill</h5>
          </div>
          <div class="w3-container w3-small w3-padding-ver-32">
            <ul class="w3-ul">
              <li ng-repeat="x in skill">
                <span class="w3-card-2">{{x}}</span>
              </li>
             
            </ul>
          </div>
          <hr style="width:80%">
          
          <!-- cai nay la tung muc -->
          <div class="w3-container">
            <h5 class="w3-margin-left">Education</h5>
          </div>
          <div class="w3-container w3-small w3-padding-ver-32">
            <ul class="w3-ul">
              <li ng-repeat="x in education">
                <div>
                  <h4><b>{{x.school}}</b></h4>
                  <p class="w3-opacity">
                    {{x.time}}
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="w3-card-4 w3-rest">
          <div class="w3-container w3-padding-hor-8">
            <h3><b>TITLE HEADING</b></h3>
            <h5>Title description
    <span class="w3-opacity">April 7, 2014</span></h5>
          </div>
          <div class="w3-container">
            <p>
              Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus
              ut rutrum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit popup windows -->
    <div id="id01" class="w3-modal editModal">
      <div class="w3-modal-content w3-card-4 w3-right w3-margin-right w3-animate-zoom" style="width:400px">
        <div class="w3-container w3-blue">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
          <h4>Sumary</h4>
        </div>
        <form class="w3-container">
          <label clas="w3-label">Edit</label>
          <textarea ng-model="sumary" value="{{sumary}}" class="w3-input" rows="4" style="resize:horizontal"> 
			</textarea>
        </form>
        <div class="w3-container w3-blue">
          <h5>Footer</h5>
        </div>
      </div>
    </div>

    <div id="id02" class="w3-modal editModal">
      <div class="w3-modal-content w3-card-4 w3-right w3-margin-right w3-animate-zoom" style="width:400px">
        <div class="w3-container w3-blue">
          <span onclick="document.getElementById('id02').style.display='none'" class="w3-closebtn">&times;</span>
          <h4>Sumary</h4>
        </div>
        <form class="w3-container">
          <label clas="w3-label">Name</label>
          <input class=" w3-input w3-green editButton" type="text" ng-model="myUser.name" value="{{myUser.name}}"></input>
          <label clas="w3-label">Jobs</label>
          <input class="w3-input" placeholder="Your job" />
          <label clas="w3-label">Current</label>
          <input class="w3-input" placeholder="Your job" />
          <label clas="w3-label">Previous</label>
          <input class="w3-input" placeholder="Your job" />
          <label clas="w3-label">Education</label>
          <input class="w3-input" placeholder="Your job" />
        </form>
        <div class="w3-container w3-blue">
          <h5>Footer</h5>
        </div>
      </div>
    </div>
  </div>





  <!-- End edit popup -->
</body>

</html>